body {
    font-family: "Poppins", sans-serif;
}

.page-content {
    margin-top: 100px;
}

footer {
    border: 1px solid #E4E4E4;
    margin-top: 120px;

    p {
        color: #979797;
    }
}

.form-control {
    background: #F3F3F3;
}