.page-home {
    h5 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .store-trend-categories {
        margin-top: 40px;
        min-height: 70px;
    }

    .store-new-product {
        margin-top: 10px;
    }


}
